@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

:root {
  --text: #101010;
  --background: #fff;
  --primary: #004f5d;
  --secondary: #12777a;
  --neutralGrey: #8c95a6;
  --darkGrey: #595959;
  --error: #d73537;
}
